{{#if resume.awards.length}}
  <div id='awards' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>AWARDS</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      {{#each resume.awards}}
        {{#if highlights.length}}
          <div class='block-header'>
            <div>
              <span class='organization'>{{title}}</span>{{#if awarder}} | <span class='title'>{{awarder}}</span>{{/if}}
            </div>
            {{#if date}}
              <div class='date'>
                <time datetime="{{date}}">{{MONTH_YEAR date}}</time>
              </div>
            {{/if}}
          </div>
        {{else}}
          <div class='block-header'>
            <div>
              <span class='title'>{{title}}{{#if awarder}}, {{awarder}}{{/if}}</span>
              {{#if date}}
                <span class='date'>
                  <time datetime="{{date}}">{{MONTH_YEAR date}}</time>
                </span>
              {{/if}}
            </div>
          </div>
        {{/if}}
        {{#if highlights.length}}
          <ul class='highlights'>
            {{#each highlights}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{#unless @last}}
          <div class='separator'></div>
        {{/unless}}
      {{/each}}
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
