{{#resume.basics}}
  <div class="basics">
    <div id="basics-left-content">
      {{! note: this content should not appear or have any effect on styling, this is only to enable any automated content parsing }}
      <div class="display-none">
        {{#location}}
          <span class="address">
            {{address}}
            {{city}}
            {{region}}
            {{postalCode}}
          </span>
        {{/location}}
        {{#if phone}}
          <span class="phone">
            <a href="tel:{{phone}}">{{phone}}</a>
          </span>
        {{/if}}
      </div>
    </div>

    <div id="basics-center-content">
      <span class="name">{{name}}</span>
    </div>

    <div id="basics-right-content">
      <div class="contact-block">
        {{#if phone}}
          <div>
            <span class="phone">{{{icon "telephone-fill"}}}
              <a href="tel:{{phone}}">{{phone}}</a></span>
          </div>
          <span class="divider">|</span>
        {{/if}}
        {{#if email}}
          <div>
            <span class="email">{{{icon "envelope"}}}
              <a href="mailto:{{email}}">{{email}}</a></span>
          </div>
        {{/if}}
        {{#each profiles}}
          {{#if url}}
            <span class="divider">|</span>
            <div>
              <span class="profile">
                {{#if (eq network "LinkedIn")}}
                  {{{icon "linkedin"}}}
                  <a href="{{url}}">{{STRIP_PROTOCOL url}}</a>
                {{else if (eq network "GitHub")}}
                  {{{icon "github"}}}
                  <a href="{{url}}">{{STRIP_PROTOCOL url}}</a>
                {{else}}
                  {{{icon "link-45deg"}}}
                  <a href="{{url}}">{{STRIP_PROTOCOL url}}</a>
                {{/if}}
              </span>
            </div>
          {{/if}}
        {{/each}}
      </div>

      {{! location and full address hidden for parsing }}
      {{#location}}
        <div class="display-none">
          <span class="address">{{#if city}}{{city}}{{#if region}},
              {{/if}}{{/if}}{{STATE_ABBREVIATION_TO_FULL_NAME region}}</span>
        </div>
      {{/location}}

    </div>
  </div>

{{/resume.basics}}